body{
  background: black;
  color: #eeeeee;
  font-size:32px;
  font-family:Verdana;
  cursor:none;
}

a{
	color: #eeeeee;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color:#ffffff;
	font-style:italic;
}

#container{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	background: black;
	width: 1920px;
	height: 1080px;
	outline:none;
	overflow:hidden;
	/*border:1px solid blue;*/
}

#feature {
  	width: 1920px;
  	height: 1080px;
	outline:none;
	/*border:1px solid red;*/
}

#navigation {
	z-index:1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	padding:2px;
	width:8em;
	height:1.5em;
	opacity:0.5;
	background: black;
	border-radius:0.5em;
	font-weight:bold;
  	text-shadow:2px 2px 4px #d0d0e0;
}

#navigation:hover {
	opacity:0.9;
  	cursor:default;
}

#navigation a{
	font-style: normal;
}

ol li{
 	text-shadow:2px 2px 2px #330000;
}

#title {
	text-align:center;
	font-size:3.25em;
	margin-top:-0.25em;
	opacity:0.2;
	font-weight: bolder;
	font-style: italic;
	overflow:hidden;
  	text-shadow:4px 4px 4	px #d0d0e0;
}

#menu {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	background: #aa0000;
	width: 640px;
	height: 360px;
	border-radius:0.5em;
	padding:2em;
	border:2px solid #990000;
	overflow:hidden;
}

#innermenu {
	position: absolute;
	top: 3em;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;	
	width:640px;
	height:360px;
	text-align:left;
	border-radius:1em;
	padding:2em;
}

.column{
	margin-top:0em;
}

#column1{
	float:left;
}

#column2{
	float:right;
}

.menubutton {
	
}